<div class="container">
    <h1 class="mt-4">Mailboxes:</h1>
    {{#if ../session.userId}}
        <a href="/mailboxes/publish" class="btn btn-primary mb-3">ADD MAILBOX</a>
    {{/if}}
    <div class="row">
        {{#each mailboxes}}
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Name: {{name}}</h3>
                        <p class="card-text">Street: {{street}}</p>
                        <p class="card-text">Postcode: {{postcode}}</p>
                        <p class="card-text">Post: {{post}}</p>
                        <p class="card-text">Open: {{open}}</p>
                        <p class="card-text">Date: {{date}}</p>
                        <p class="card-text">User: {{userId.username}}</p>
                        <div class="d-flex justify-content-end">
                            <a href="/mailboxes/{{_id}}" class="btn btn-sm btn-primary mr-2">More Info</a>
                            {{#if ../session.userId}}
                                <a href="/mailboxes/update/{{_id}}" class="btn btn-sm btn-primary mr-2">Edit</a>
                            {{/if}}
                            {{#ifeq ../session.userId.isAdmin true}}
                                    <button class="btn btn-sm btn-danger" onclick="delet('{{_id}}')">Delete</button>
                            {{/ifeq}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script>

    function delet(id) {

        const data = {
            id: id,
        };

        fetch("/mailboxes/delete/" + id, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    location.reload();
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
    }

</script>
