<h1>Mailboxes:</h1>
{{#each mailboxes}}
    <h3> Name: {{name}} </h3>
    <p> Street: {{street}} </p>
    <p> Postcode: {{postcode}} </p>
    <p> Post: {{post}} </p>
    <p> Open: {{open}} </p>
    <p> Date: {{date}} </p>
    <p> User: {{userId.username}} </p>
{{/each}}